@model TransporteParticular.Models.DinheiroTable

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DinheiroTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoDinheiro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoDinheiro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdClienteNavigation.Cpf)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDinheiro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
