@model IEnumerable<TransporteParticular.Models.DetalhesVeiculosTable>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlacaVeiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorVeiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcentosVeiculo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlacaVeiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorVeiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcentosVeiculo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetalhesVeiculos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDetalhesVeiculos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetalhesVeiculos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
